In [21]:
from ast import literal_eval
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [22]:

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
# dataset_scientist = pd.read_csv("/content/drive/MyDrive/IS4242/Skills Vector/Skills_Vec_BART_Scientist.csv")
# dataset_analyst = pd.read_csv("/content/drive/MyDrive/IS4242/Skills Vector/Skills_Vec_BART_Analyst.csv")
# dataset_engineer = pd.read_csv("/content/drive/MyDrive/IS4242/Skills Vector/Skills_Vec_BART_Engineer.csv")
# dataset_skills = pd.concat([dataset_scientist, dataset_analyst, dataset_engineer])
dataset_skills = pd.read_csv("/content/drive/MyDrive/IS4242/Skills Vector/Skills_Vec_BART_Combined_2.csv", encoding='iso-8859-1')

In [24]:
dataset_skills

,companyName,company_starRating,company_offeredRole,company_roleLocation,company_salary,listing_jobDesc,requested_url,cleaned_jd,skills_vec
0,San Diego Association of Governments,3.5,Senior Modeler and Statistician,"San Diego, CA",Employerest.:104000 - 161000,Execute sampling and weighting plans for vario...,https://www.glassdoor.com/partner/jobListing.h...,execute sampling weighting plan various probab...,"{'azure': 0.9887955188751221, 'data visualizat..."
1,Notarize,2.4,Senior Backend Engineer - Applied Machine Lear...,United States,Employerest.:140000 - 165000,"\nDesign, build, and maintain our document rec...",https://www.glassdoor.com/partner/jobListing.h...,design build maintain document recognition ser...,"{'machine learning': 0.9621859192848206, 'pyth..."
2,"HR, Legal, & Administration",2.7,Chief Data Scientist,"Sartell, MN",117000 - 186000,"35 GB of data ingest per day, supporting over ...",https://www.glassdoor.com/partner/jobListing.h...,35 gb data ingest per day supporting 510 milli...,"{'machine learning': 0.9846652746200562, 'opti..."
3,Fisher & Phillips LLP,3.6,Statistician,Remote,Employerest.:36.39 - 62.31PerHour,Statistical estimation and testing for adverse...,https://www.glassdoor.com/partner/jobListing.h...,statistical estimation testing adverse impact ...,"{'data analyst': 0.9970159530639648, 'power bi..."
4,King & Spalding,4.0,Senior Data Analyst,"Atlanta, GA",79000 - 110000,Locate and extract data from a variety of sour...,https://www.glassdoor.com/partner/jobListing.h...,locate extract data variety source use analysi...,"{'data visualization': 0.9863322973251343, 'po..."
...,...,...,...,...,...,...,...,...,...
840,DECODE MARKETING PTE. LTD.,3.9,Software Product Architect,Singapore,10000 - 15000,"Develop and maintain the product vision, roadm...",https://www.glassdoor.sg/partner/jobListing.ht...,develop maintain product vision roadmap strate...,"{'java': 0.9624872207641602, 'python': 0.93615..."
841,RSP Architects Planners & Engineers,3.5,Administrative Executive,Singapore,NaN,Singapore\n Support the team on full scope of ...,https://www.glassdoor.sg/partner/jobListing.ht...,singapore support team full scope administrati...,"{'powerpoint': 0.9603214859962463, 'data quali..."
842,TRITECH SYSENG (S) PTE. LTD.,2.1,Software Engineer,Singapore,3000 - 4000,Develop in-house program for engineering instr...,https://www.glassdoor.sg/partner/jobListing.ht...,develop inhouse program engineering instrument...,"{'data engineering': 0.8910128474235535, 'api'..."
843,TRITECH ENGINEERING & TESTING (SINGAPORE) PTE LTD,3.3,INSTRUMENTATION ENGINEER,Singapore,3000 - 5000,Project Operation\n Instrumentation\n Protecti...,https://www.glassdoor.sg/partner/jobListing.ht...,project operation instrumentation protection c...,"{'r': 0.6679466366767883, 'api': 0.61400103569..."
844,Inhabit,3.6,Office Administrator,Singapore,NaN,\nDay to day general office duties and adminis...,https://www.glassdoor.sg/partner/jobListing.ht...,day day general office duty administrative sup...,"{'excel': 0.9594652056694031, 'project managem..."

In [25]:
skills_lst = [
    'tableau', 'data warehousing',
    'machine learning', 'etl', 'power bi', 
    'scala', 'excel', 'hadoop', 'oracle', 
    'r', 'data pipeline', 'spark', 'sql', 
    'data governance', 'data engineering', 
    'snowflake', 'optimization', 'git', 
    'powerpoint', 'nosql', 'data quality', 
    'data visualization', 'data mining', 
    'aws', 'business intelligence', 
    'data engineer', 'agile', 'java', 
    'rest', 'query', 'data analyst', 
    'python', 'data scientist', 
    'project management', 'big data', 
    'data modeling', 'azure', 'api', 
    'unity'
    ]

skills_vec = dataset_skills["skills_vec"].apply(literal_eval).apply(pd.Series)[skills_lst]

In [26]:
len(skills_lst)

39

In [27]:
skills_vec_binary = skills_vec.copy()
threshold = 0.9
skills_vec_binary[skills_vec_binary > threshold] = 1
skills_vec_binary[skills_vec_binary < threshold] = 0

In [28]:
skills_vec_binary

,tableau,data warehousing,machine learning,etl,power bi,scala,excel,hadoop,oracle,r,...,query,data analyst,python,data scientist,project management,big data,data modeling,azure,api,unity
0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
841,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
842,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
844,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [29]:
knn = NearestNeighbors(n_neighbors=5, algorithm='brute', metric='cosine', n_jobs=-1)
knn.fit(skills_vec_binary)
print("ok")

ok

In [30]:
test = [1] + [0] * (len(skills_lst) - 1)
test

[1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [31]:
distances, indices = knn.kneighbors([test])
dataset_skills.iloc[indices[0]]

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

,companyName,company_starRating,company_offeredRole,company_roleLocation,company_salary,listing_jobDesc,requested_url,cleaned_jd,skills_vec
524,Singapore Sports Council,3.1,[12 months] Temp Sport Performance Analyst,Singapore,3000 - 5000,Background in Sport Technology / Data Analytic...,https://www.glassdoor.sg/partner/jobListing.ht...,background sport technology data analytics com...,"{'tableau': 0.9430422186851501, 'data visualiz..."
548,JOBSTER PRIVATE LTD.,2.7,Business Analyst (Tableau/PowerBi),Singapore,6000 - 8000,"2 years renewable contract, chances of convers...",https://www.glassdoor.sg/partner/jobListing.ht...,2 year renewable contract chance conversion pe...,"{'power bi': 0.9691796898841858, 'tableau': 0...."
314,Venable LLP,4.2,Open Source Intelligence (OSINT) Analyst,"Washington, DC",NaN,Transform mass amounts of online information i...,https://www.glassdoor.com/partner/jobListing.h...,transform mass amount online information actio...,"{'tableau': 0.9698082804679871, 'python': 0.93..."
268,SSG SkillsFuture Singapore Agency,3.7,"Senior Manager/Manager, Analytics and Insights...",Paya Lebar,50000 - 70000,Strong analytical and quantitative skills with...,https://www.glassdoor.sg/partner/jobListing.ht...,strong analytical quantitative skill ability a...,"{'tableau': 0.9948232173919678, 'data visualiz..."
439,U3 Infotech Pte Ltd.,4.5,Junior Business Analyst,Singapore,61000 - 86000,Facilitate requirements workshops to engage th...,https://www.glassdoor.sg/partner/jobListing.ht...,facilitate requirement workshop engage various...,"{'excel': 0.9687859416007996, 'data visualizat..."

In [32]:
skills_vec.iloc[indices[0]]

,tableau,data warehousing,machine learning,etl,power bi,scala,excel,hadoop,oracle,r,...,query,data analyst,python,data scientist,project management,big data,data modeling,azure,api,unity
524,0.943042,0.000303,0.004501,0.492946,0.055021,0.022175,0.878339,0.259080,0.086332,0.786660,...,0.297609,0.709849,0.528841,0.526228,0.000300,0.044679,0.163126,0.280419,0.197516,0.167763
548,0.919069,0.135630,0.112340,0.680336,0.969180,0.225305,0.588842,0.424184,0.308305,0.769238,...,0.855038,0.568993,0.146777,0.223292,0.847835,0.329838,0.303750,0.383962,0.561530,0.254811
314,0.969808,0.201055,0.421662,0.809471,0.253157,0.256955,0.766169,0.676514,0.537870,0.732929,...,0.854411,0.624571,0.937094,0.183038,0.599797,0.575205,0.429219,0.398235,0.634197,0.432905
268,0.994823,0.177045,0.767783,0.602987,0.471667,0.263465,0.613151,0.651164,0.557250,0.896167,...,0.697415,0.761539,0.882612,0.648175,0.190537,0.353684,0.636736,0.527819,0.749776,0.360164
439,0.931057,0.428765,0.065853,0.817867,0.506169,0.434431,0.968786,0.652770,0.539442,0.608068,...,0.835535,0.498405,0.123600,0.353903,0.420607,0.448997,0.712648,0.576708,0.661107,0.628301

In [33]:
skills_lst

['tableau',
 'data warehousing',
 'machine learning',
 'etl',
 'power bi',
 'scala',
 'excel',
 'hadoop',
 'oracle',
 'r',
 'data pipeline',
 'spark',
 'sql',
 'data governance',
 'data engineering',
 'snowflake',
 'optimization',
 'git',
 'powerpoint',
 'nosql',
 'data quality',
 'data visualization',
 'data mining',
 'aws',
 'business intelligence',
 'data engineer',
 'agile',
 'java',
 'rest',
 'query',
 'data analyst',
 'python',
 'data scientist',
 'project management',
 'big data',
 'data modeling',
 'azure',
 'api',
 'unity']

In [34]:
def recommend_jobs(skills_lst, skills = {}):
  initiate_arr = [0] * len(skills_lst)
  idx = []
  for s in skills:
    i = skills_lst.index(s)
    idx.append(i)
  for i in idx:
    initiate_arr[i] = 1
  distances, indices = knn.kneighbors([initiate_arr])
  return dataset_skills.iloc[indices[0]]

In [41]:
recommend_jobs(skills_lst, skills = {'sql', 'tableau','data visualization','hadoop', 'python'})

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

,companyName,company_starRating,company_offeredRole,company_roleLocation,company_salary,listing_jobDesc,requested_url,cleaned_jd,skills_vec
520,WSG Workforce Singapore Agency,3.7,Senior Data Analyst / Data Analyst (Data Analy...,Paya Lebar,50000 - 58000,Analyse labour market and EF related datasets ...,https://www.glassdoor.sg/partner/jobListing.ht...,analyse labour market ef related datasets iden...,"{'data visualization': 0.9293365478515625, 'ta..."
252,GIC Investment,3.9,"AVP, Business Solutions Analytics",Singapore,64000 - 132000,Oversee timely delivery of insightful and impa...,https://www.glassdoor.sg/partner/jobListing.ht...,oversee timely delivery insightful impactful b...,"{'data visualization': 0.9893467426300049, 'ta..."
250,GIC PRIVATE LIMITED,3.9,"AVP, Business Solutions Analytics (JR15037)",Singapore,7000 - 13000,Oversee timely delivery of insightful and impa...,https://www.glassdoor.sg/partner/jobListing.ht...,oversee timely delivery insightful impactful b...,"{'data visualization': 0.9893467426300049, 'ta..."
314,Venable LLP,4.2,Open Source Intelligence (OSINT) Analyst,"Washington, DC",NaN,Transform mass amounts of online information i...,https://www.glassdoor.com/partner/jobListing.h...,transform mass amount online information actio...,"{'tableau': 0.9698082804679871, 'python': 0.93..."
237,DIGIPEN INSTITUTE OF TECHNOLOGY SINGAPORE PTE....,3.8,Development Engineer (Data Analytics),Singapore,4000 - 6000,"Bachelor's degree in Computer Science, Data Sc...",https://www.glassdoor.sg/partner/jobListing.ht...,bachelor degree computer science data science ...,"{'power bi': 0.9952802062034607, 'tableau': 0...."

In [16]:
import ast

In [17]:
string_eg = dataset_skills.iloc[2]["skills_vec"]
result_sample = ast.literal_eval(string_eg)
for k, v in result_sample.items():
  print("{}: {}".format(k, v))

machine learning: 0.9846652746200562
hadoop: 0.9752855896949768
statistical analysis: 0.9703140258789062
regression analysis: 0.9656583666801453
data warehousing: 0.9603585004806519
statistics: 0.9286719560623169
big data technologies: 0.9196537733078003
sql: 0.8967862129211426
excel: 0.8668082356452942
data modeling: 0.7726069092750549
spark: 0.7530514001846313
data visualization: 0.6937585473060608
java: 0.677741289138794
python: 0.672451376914978
tableau: 0.57262122631073
azure: 0.49502867460250854
tensorflow: 0.491336852312088
extract transform load (etl): 0.4695488512516022
mathematics: 0.45672908425331116
pytorch: 0.4117913246154785
git: 0.40266117453575134
deep learning: 0.31037095189094543
computer vision: 0.27156978845596313
natural language processing: 0.2155146449804306
cloud computing: 0.13792796432971954
amazon web services (aws): 0.06190834939479828
google cloud platform (gcp): 0.0545215867459774

In [19]:
type(result_sample)

dict